
/* ///////////////colours////////////// */
/* mercury color: #d16002 */
/* contact us color:#82eefd */


/* ////////////styles applied/////////// */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:350;
  justify-content:space-between;

}

/* /////////////header style//////////////// */
header
{
  background-color: #000000;
  padding-bottom: 20px;
  box-shadow: 0px 3px 8px 0px rgba (0,0,0,.5);

}

/* //////////first div in header////////// */

header > div
{
  width:1200px;
  display:flex;
  justify-content: space-between;
  margin:auto;
}

header img{
padding-top: 18px;

}

nav{
  margin-top: 35px;
  display
}

header a{
  text-transform:uppercase;
  color:white;
  font-weight:400;
  font-size: 13px;
  text-decoration: none;
  margin:6px;
  transition: all .3s;
}

header nav a:hover{
  /* color: #dffe00; */
color:#82eefd;
}

a.mercury
{
  background-color:#d16002;
  padding: 6px;
  border-radius: 3px;
}
/* //////highlighting the text with cyan///////// */

nav a:last-of-type{
  /* color:#dffe00; */
color:#82eefd;
}

/* /////////////our services style////////////// */
#saturn{
  height: 50px;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  text-align: center;
  padding: 70px 0px;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  font-size: 50px;
  color:white;
  font-weight:400;
  text-shadow: 1px 2px 2px black;
}
